<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/fontawesome-free-6.4.2-web/css/all.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/EduDash.styles.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Itim&family=Poppins:wght@700;800;900&family=Quicksand:wght@700&family=Schoolbell&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico"/>
</head>
<body class="h-100 mt-5">
<div class="text-center mt-5">
    <a class="h1 text-decoration-none text-black" asp-area="" asp-page="/Index" style="font-family: 'Schoolbell';">EduDash</a>
</div>
<div class="container">
    <main role="main" class="pb-3 mt-5">
        @RenderBody()
    </main>
</div>
<footer class="text-center text-muted" style="position: absolute; bottom: 10px; width: 100%; white-space: nowrap;">&copy; 2023 - EduDash</footer>
</body>
</html>